@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+Rounded+1c&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

/* -------------------------------------------------------- HOME PAGE --------------------------------------------------------------*/

.homeContainer,
.notesContainer, .profileContainer, .openedNoteContainer{
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(60deg, rgb(0, 0, 0), #02210c, rgb(44, 44, 27));
    color: #ffffff;
}


/* HOME NAVBAR --------------------------------------------------------------------------------  */
.homeNavbarContainer {
    height: 100px;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeLogoDiv,
.notesLogoDiv {
    display: flex;
    align-items: center;
    gap: 15px;
}

.homeLogoDiv img,
.notesLogoDiv img {
    width: 40px;
    height: 40px;
}

.homeContainer button,
.formSignupBtn,
.formSigninBtn {
    padding: 7px 30px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #9be69d;
    /* background-color: #407cff; */
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}

.homeContainer button:hover,
.formSignupBtn:hover,
.formSigninBtn:hover {
    background-color: #7fc282;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

/* HOME SECTION --------------------------------------------------------------------------------  */
.homeSectionContainer {
    /* padding: 0px 80px; */
    /* padding-right: 80px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: auto;

}

.homeSectionDiv {
    width: 750px;
    margin: auto;
    padding: 80px 20px;
    text-align: center;
}

.homeSectionDiv h1 {
    font-size: 55px;
    letter-spacing: 2px;
    padding: 15px 0px;
}

.homeSectionDiv p {
    width: 550px;
    margin: auto;
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(186, 186, 186);
    padding-bottom: 25px;
}



/* SIGNUP / SIGNIN FORM --------------------------------------------------------------------------------  */
.homeSigninSignupFormDiv {
    padding: 70px 50px 70px 0px;
    /* padding-right: 50px; */
}

.signupDiv,
.signinDiv {
    width: 450px;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 50px 30px 20px 30px;
}
.signupDiv > .signedUpMessage{
    color: #4cbe50;
    letter-spacing: 1px;
}
.signupDiv > .signUpError, .signinDiv > .signInError{
    color: red;
    letter-spacing: 1px;
}

.signupDiv h2,
.signinDiv h2 {
    padding-bottom: 20px;
    color: rgb(44, 44, 44);
}

.signupInputDiv input,
.signinInputDiv input {
    width: 100%;
    padding: 8px 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(131, 131, 131);
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
}
.signupInputDiv p, .signinInputDiv p{
    color: red;
    text-align: left;
    font-size: 12px;
}

.formSignupBtnDiv,
.formSigninBtnDiv {
    padding: 20px;
}

.signupformSigninText,
.signinformSignupText {
    margin-top: 20px;
    color: #474747;
    font-size: 14px;
    display: inline-block;
}

.signupformSigninText:hover,
.signinformSignupText:hover {
    cursor: pointer;
    color: #000000;
}



/* -------------------------------------------------------- NOTES PAGE --------------------------------------------------------------*/
.notesContainer, .openedNoteContainer{
    position: relative;
}
.notesContainerDimmed{
    filter: brightness(40%);
}
.notesAddEditNoteFormContainer{
    position: absolute;
    top: 65px;
    left:50%;
    transform: translateX(-50%);
}
.notesNavbarContainerDesktop {
    height: 90px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notesSearchAddBtnDiv {
    display: flex;
    align-items: center;
}

.notesSearchInput {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(42, 42, 42);
    border-radius: 5px;
    padding: 0px 20px;
}

.notesSearchInput input {
    background-color: transparent;
    width: 40vw;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
}

.notesSearchIcon img {
    width: 20px;
    height: 20px;
}

.notesAddNoteBtnDiv button {
    height: 40px;
    padding: 10px 30px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #407cff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}

.notesAddNoteBtnDiv button:hover {
    background-color: #356adb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.notesProfileIconDiv {
    margin-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.notesProfileIconDiv:hover{
    box-shadow: 0px 4px 20px black; 
    transition: 0.2s ease-in-out;
}

.notesProfileIconDiv img {
    width: 40px;
    height: 40px;
}
.notesProfileIconDiv img:hover {
    cursor: pointer;
}

.notesProfileIconDropdownDiv {
    width: 130px;
    border-radius: 5px;
    border: 1px solid #407cff;
    padding:10px 20px;
    font-weight: 600;
    position: absolute;
    top: 40px ;
    right: 0;
}
.notesProfileIconDropdownDiv > .YourProfileLink{
    text-decoration:none;
}
.notesProfileIconDropdownDiv  p{
    text-decoration:none;
    color: white;
}
.notesProfileIconDropdownDiv p:hover{
    color: rgb(140, 140, 140);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

/* -------- Notes Section -------- */
.notesSectionContainer {
    padding: 20px 70px;
}

.notesSectionDiv>.allNotesLine {
    display: none;
    width: 103px;
    height: 2px;
    background-color: #474747;
    border-radius: 5px;
    margin-top: 2px;

}

.notesSectionDiv h2 {
    letter-spacing: 1px;

}
.pinnedNotesListDiv{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px 0px;

}
.notesListDiv {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.notesListNoNotesMessage{
    text-align: center;
    color: rgb(117, 117, 117);
    margin-top: 30px;
}

/*----------------------------- NOTES CARD ------------------------------------*/
.cardDiv {
    height: 160px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s ease-in-out;

}
.cardDiv:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}

.cardDiv h3 {
    color: black;
    letter-spacing: 1px;
}

.cardOptions {
    display: flex;
    align-items: center;
    justify-content: right;
}
.cardOptions img:first-child{
    width: 30px;
    height: 30px;
}
.cardOptions img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    z-index: 5;
}
.cardOptions img:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/* -------------------------------------------------------- PROFILE PAGE --------------------------------------------------------------*/

.profileDiv{
    width: 100vw;
    padding: 0px 100px;
    letter-spacing: 1px;
}
.profileDiv h1{
    font-size: 40px;
}
.profileDiv > .updateProfileImageMessage,  .profileDiv > .deleteProfileImageMessage, .profileDiv > .updateUsernameMessage,
.profileDiv > .updatePasswordMessage{
    color: rgb(109, 225, 124);
    text-align: center;
    font-weight: bold;
}
.profileDetailsDiv{
    display: flex;
    gap: 100px;
    margin-top: 50px;
}
.profileImageDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileImageDiv img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profileImageDiv button{
    width: 100px;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    background-color: #407cff;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.deleteImageBtn{
    background-color: #eb4646 !important;
}
.deleteImageBtn:hover{
    background-color: #bd3434 !important;
}

.profileImageDiv button:hover {
    background-color: #356adb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.profileInfoDiv h2{
    font-size: 35px;
}
.editProfileBtn, .changePasswordBtn{
    padding: 5px 20px;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 700;
    background-color: #407cff;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.editProfileBtn:hover, .changePasswordBtn:hover {
    background-color: #356adb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

/*-------------------------------- EDIT PROFILE/ CHANGE PASSWORD / UPLOAD IMAGE-----------------------------------------*/
.editProfleChangePasswordFormContainer{
    margin-top: 35px;
}
.editProfileContainer, .changePasswordContainer, .uploadImageContainer{
    background-color: white;
    color: black;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
}
.usenameDiv, .passwordDiv, .newPasswordDiv, .newConfirmPasswordDiv{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.usenameDiv input ,.passwordDiv input,.newPasswordDiv input,.newConfirmPasswordDiv input{
    width: 65% ;
    padding: 4px 10px;
    outline: none;
    letter-spacing: 1px;
}
.editProfileSaveBtnDiv, .changePasswordSaveBtnDiv{
    text-align: center;
    margin-top: 40px;
}
.editProfileSaveBtn, .changePasswordSaveBtn, .uploadImageSaveBtn{
    padding: 6px 90px;
    font-size: 14px;
    font-weight: 700;
    background-color: #407cff;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;

}
.editProfileSaveBtn:hover, .changePasswordSaveBtn:hover, .uploadImageSaveBtn:hover {
    background-color: #356adb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.updateUsernamePasswordErrorClass{
    text-align: center;
    color: red;
    font-weight: bold;
}

/* --------------------------------UPLOAD PROFILE PICTURE -------------------------------------------*/

.uploadImageContainer input{
    margin:10px 0px 20px 0px;
}
.uploadImageContainer input::file-selector-button{
    background-color: #407cff;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;

}
.uploadImageContainer input::file-selector-button:hover {
    background-color: #356adb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.uploadImageSaveBtnDiv{
    margin-top: 10px;
}

/* ----------------------- ADD/ EDIT NEW NOTE FORM ------------------------*/
.addEditNoteContainer{
    background-color: white;
    color: black;
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.addEditcloseIcon{
    position: absolute;
    right: 3%; 
    width: 20px;
    height: 20px;
}
.addEditcloseIcon:hover{
    cursor: pointer;
    transform: scaleZ(1.3);
}
.noteTitleContentDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
}
.addedImageClass{
    height: 200px;
    max-width: 100%;
}
.noteTitleInput, .noteContentInputArea{
    padding: 7px 10px;
    outline: none;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 3px;
    letter-spacing: 0.7px;
    font-weight: 600;
    font-size: 17px;

}
.noteContentInputArea{
    height: 300px;
    line-height: 23px;
    overflow-y: scroll;
}
.noteContentInputArea img{
    width: 100%;
}
.optionsSaveUpdateDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionsDiv img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.optionsDiv img:hover{
    cursor: pointer;
    transform: scale(0.95)
}
.optionsSaveUpdateDiv > .saveUpdateBtn{
    background-color: #407cff;
    border: none;
    border-radius: 5px;
    padding: 6px 50px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;
}
.optionsSaveUpdateDiv > .saveUpdateBtn:hover{
    background-color: #356adb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.optionsDiv{
    position: relative;
}
.colorPopupDiv{
    background-color: rgb(45, 45, 45);
    width: 93.5%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    position: absolute;
    bottom: 65px;
}
.colorBox{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}
.colorBoxActive{
    box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
}
.colorBox:nth-child(1){
    background-color: #ffff59;
}
.colorBox:nth-child(2){
    background-color: #9bff9b;
}
.colorBox:nth-child(3){
    background-color: #ff4747;
}
.colorBox:nth-child(4){
    background-color: #59e3ff;
}
.colorBox:nth-child(5){
    background-color: #ff87af;
}
.imageSelectorDiv{
    background-color: rgb(45, 45, 45);
    width: 93.5%;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    bottom: 65px;
}
.imageSelectorDiv input::file-selector-button{
    background-color: #407cff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;
}
.imageSelectorDiv input::file-selector-button:hover{
    background-color: #356adb;
    transition: 0.2s ease-in-out;
}
.imageSelectorDiv input{
    color: white;
}
/* --------------------------------------------------------OPENED NOTE PAGE ------------------------------------------------------------- */
.openedNoteContainer{
    padding-bottom: 60px;
}
.openedNoteNavbar, .profileNavbar{
    height: 100px;
    padding:25px 30px;
}
.openedNoteDiv{
    background-color: white;
    color: black;
    width: 70%;
    height: fit-content;
    margin:auto;
    padding: 30px 50px;
    border-radius: 5px;
}
.openedNoteImage{
    height: 200px ;
    margin-top: 20px;
}
.openedNoteContent{
    margin: 30px 0px;
}
.openedNoteOptionsDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.openedNotecloseBtn, .openedNoteEditBtn, .openedNoteDeleteBtn{
    background-color: #407cff;
    width: 120px;
    border: none;
    border-radius: 5px;
    padding: 7px 0px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;
} 
.openedNotecloseBtn:hover, .openedNoteEditBtn:hover{
    background-color: #356adb;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.openedNoteDeleteBtn{
    background-color: #eb4646;
    margin-left: 20px;
}
.openedNoteDeleteBtn:hover{
    background-color:#bd3434;
}

/* -------------------Responsiveness---------------------------------------------------------------------------------  */
.notesNavbarContainerMobile {
    padding: 20px 20px;
}

.notesLogoProfileDivMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.notesSearchAddBtnDivMobile {
    display: flex;
    align-items: center;
    justify-content: center;

}

.notesSearchAddBtnDivMobile>.notesSearchInput input {
    width: 100%;
}


@media screen and (max-width:1130px) {
    .homeSectionContainer {
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .homeSigninSignupFormDiv {
        padding: 0px 0px 50px 0px;
    }

    .signupDiv,
    .signinDiv {
        width: 600px;
    }
}

@media screen and (max-width:870px) {
    .editProfileContainer, .changePasswordContainer, .uploadImageContainer{
        width: 400px;
    }
}

@media screen and (max-width:750px) {
    .homeLogoDiv {
        gap: 10px;
    }

    .homeLogoDiv img {
        width: 30px;
        height: 30px;
    }

    .homeLogoDiv h2 {
        font-size: 18px;
    }

    .homeNavbarContainer {
        padding: 60px 20px;
    }

    .navSignupBtn {
        display: none;
    }

    .homeSectionContainer {
        padding: 0px 0px;
    }

    .homeSectionDiv {
        text-align: center;
        width: calc(100vw - 30px);
        margin: auto;
        padding: 80px 0px;
    }

    .homeSectionDiv h1 {
        font-size: 30px;
    }

    .homeSectionDiv p {
        width: 100%;
        font-size: 13px;
    }


    .homeSigninSignupFormDiv {
        padding: 0px 0px 50px 0px;
        width: 100%;
        margin: auto;
    }

    .signupDiv,
    .signinDiv {
        width: 100%;
        text-align: center;
        background-color: white;
        border-radius: 0px;
        padding: 50px 20px;
    }

    .profileDiv{
        padding: 20px 40px;
    }
    .profileInfoDiv h2{
        font-size: 25px;
    }
    .profileDetailsDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 50px;
        /* width: 100vw; */
    }
    .profileInfoDiv{
        width: 90vw;
    }
    .editProfleChangePasswordFormContainer{
        width: 100%;
    }
    .editProfileContainer, .changePasswordContainer, .uploadImageContainer{
        width: 100%;
    }

    .notesAddEditNoteFormContainer{
        top: 100px;
    }
    .addEditNoteContainer{
        width: 90vw;
    }


    .openedNoteDiv{
        width: 90%;
    }
    .openedNotecloseBtn, .openedNoteEditBtn, .openedNoteDeleteBtn{
        width: 80px;
        padding: 5px 0px;
    } 
}


@media screen and (max-width:500px) {
    .notesSearchAddBtnDivMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .notesSearchAddBtnDivMobile>.notesSearchInput {
        margin-bottom: 15px;
        width: 100%;
    }
    .notesSectionContainer {
        padding: 20px;
    }

    .profileInfoDiv{
        width: 95vw;
    }
    .openedNoteDiv{
        background-color: white;
        color: black;
        width: 95%;
        margin:auto;
        padding: 20px 20px;
        border-radius: 5px;
    }
    .openedNoteDeleteBtn{
        margin-left: 10px;
    }
}